
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@if (ViewBag.Username != null)
{
    @ViewBag.Username;
}
else
{
    <h2>Hello, Guest!</h2>
}