@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@section Timetable {
    <div class="content-wrapper1">
        <h1>Class TimeTable</h1>
        <p class="breadcrumb1">You are here: Academics >> Class TimeTable</p>
    </div>
    <br>
    <div class="super-container">
        <div class="container">

            <div class="sem-list">
                <label for="sem">Sem :</label>
                <select id="sem">
                    <option value="1">I/IV I SEM</option>
                    <option value="2">I/IV II SEM</option>
                    <option value="3">II/IV I SEM</option>
                    <option value="4">II/IV II SEM</option>
                    <option value="5">III/IV I SEM</option>
                    <option value="6">III/IV II SEM</option>
                    <option value="7">IV/IV I SEM</option>
                    <option value="8">IV/IV II SEM</option>
                </select>
            </div>
            <button class="download-btn" onclick="downloadholyPDF()">Download</button>
        </div>
    </div>

    <script>
        function downloadholyPDF() {
            var selectedSem = document.getElementById("sem").value;
            window.location.href = `/AcademicCalendar/DownloadHolyPdf?sem=${selectedSem}`;
        }
    </script>
}



@*
    

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@section Timetable{
    <div class="Time">
        <h1>Academic Calendar</h1>
        <p class="breadcrumb">You are here: <span>Academics >> Class TimeTable >> CSE</span></p>
        <div class="semester-select">
            <label for="semester">Sem :</label>
            <select id="semester">
                <option value="I/IV I SEM">I/IV I SEM</option>
                <option value="I/IV II SEM">I/IV II SEM</option>
                <!-- Add other semesters as needed -->
            </select>
        </div>

        <table class="timetable-table">
            <thead>
                <tr>
                    <th>SNO</th>
                    <th>Subject</th>
                    <th>Faculty</th>
                    <th>Timings</th>
                </tr>
            </thead>
            <tbody id="timetableTableBody">
                <!-- Table data goes here -->
            </tbody>
        </table>

        <div class="section-info">
            <span>Section: A</span>
        </div>
    </div> *@
}