@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Timetable {
    <div class="content-wrapper">
        <h1>Class TimeTable</h1>
        <p class="breadcrumb">You are here: Academics >> Class TimeTable</p>
    </div>
    <br>
    <div class="super-container">
        <div class="container">

            <div class="sem-list">
                <label for="sem">Sem :</label>
                <select id="sem">
                    <option value="1">I/IV I SEM</option>
                    <option value="2">I/IV II SEM</option>
                    <option value="3">II/IV I SEM</option>
                    <option value="4">II/IV II SEM</option>
                    <option value="5">III/IV I SEM</option>
                    <option value="6">III/IV II SEM</option>
                    <option value="7">IV/IV I SEM</option>
                    <option value="8">IV/IV II SEM</option>
                </select>
            </div>
            <button class="download-btn" onclick="downloadholyPDF()">Download</button>
        </div>
    </div>

    <script>
        function downloadholyPDF() {
            var selectedSem = document.getElementById("sem").value;
            window.location.href = `/AcademicCalendar/DownloadHolyPdf?sem=${selectedSem}`;
        }
    </script>
}