@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Imagelogo {
    <section class="welcome-section">
        <div class="welcome-content">
            <div class="text-logo">
                <h1>&nbsp Welcome to <br> College Name <br> Student Portal</h1>
                <div class="college-logo-large">
                    <img src="~/images/logo.png" alt="College Logo">
                </div>
            </div>
            <div class="portal-image">
                <img src="~/images/Plan.png" alt="Students Illustration">
            </div>
        </div>
    </section>
}




