.content-wrapper {
    display: flex;
    flex-direction: column;
    margin-left:-100px;
    margin-top:0;
    width:35vw;
    height:90vh;
}

.breadcrumb {
    flex-shrink:0;
    color: #E437D2;
    font-size: 14px;
    margin-top: 5px;
    padding:0px 0px;
}

h1 {
    text-align: left;
    margin: 0px;
}

.container {
    margin-top:unset;
    padding: 20px;
    background-color: #fdf2f2;
    margin: 5px 5px;
    width: 20vw;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display:flex;
    flex-direction:column;
    align-items:center;
}

.sem-list{
    display:flex;
    align-items:center;
}
.super-container{
    width:50vw;
}

select {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius:10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

    table th, table td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: center;
    }

    table th {
        background-color: #eee;
    }

.download-btn {
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #00aaff;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}
.download-btn:hover{
    background-color:cornflowerblue;
}
.option{
    border-radius:10px;
}