@{
    Layout = null;
}
@model IEnumerable<StudentPortal.Models.SemwiseGradesDetails>


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Semwise Grades</title>
    <style>
        .TablePartial2 {
            width: 100%;
            border-collapse: collapse;
        }

            .TablePartial2 th, .TablePartial2 td {
                border: 1px solid black;
                padding: 8px;
                text-align: left;
            }

            .TablePartial2 th {
                background-color: #f2f2f2;
            }
    </style>
</head>
<body>
    <h1>Semwise Grades Details</h1>
    <p>Semester: @TempData["Semester"]</p>
    @Html.Partial("_SemwiseGradesDetails")
</body>
</html>